.sp-new-project-root {
    .sp-new-project-body {
        @include vertical-queue-stretch;

        .modal-content {
            @include vertical-list-stretch;
            flex: 1;
            padding: 16px;
            gap: 8px;
        }
    }
}
