.menu-bar {
    @include horizontal-gallery;
    align-items: stretch;

    .menu-bar-section.menu-bar-section {
        border-radius: 0;
        text-transform: none;
        color: $color-text;
        min-width: 0;
        height: 100%;
        padding: 0;

        &:hover .menu-bar-button {
            background-color: $color-component-3;
        }

        &:active .menu-bar-button {
            background-color: $color-component-3;
        }
    
        &.menu-bar-section-open .menu-bar-button {
            background-color: $color-component-3;
        }

        .menu-bar-button {
            padding: 1px 8px;
            border-radius: 4px;
        }
    }
}

.MuiPopover-root.MuiPopover-root {
    z-index: 12000;

    // a class that only appears in menus nested inside
    // other menus.
    &.nested-menu-popover-root {
        .MuiPaper-root.MuiPaper-root {
            // the necessary offset to align the nested
            // menu with the element in the parent menu
            // that spawned it.
            margin-top: -9px;
        }
    }
}

.MuiPaper-root.MuiPaper-root {
    border-radius: 6px;
    border: 1px solid $color-component-2;
    min-width: 140px;
}

.MuiList-root.MuiList-root {
    li {
        border-radius: 4px;
        margin: 0 6px;
        padding: 4px 4px;
        &:hover {
            background-color: $color-highlight;
            color: $color-highlight-text;
        }
    }

    .menu-bar-option-with-icon {
        @include horizontal-gallery;
        gap: 8px;

        > img {
            width: 16px;
            height: 16px;
        }
    }
}

.titlebar-menu-bar-root.titlebar-menu-bar-root {
    .menu-bar-paper.menu-bar-paper {
        margin-top: -6px;
    }
}
