.title-bar {
    @include horizontal-list;
    width: 100%;
    height: 32px;
    background: $color-component-1;
    font-size: 10pt;
    padding-top: 1px;
    align-items: stretch;
    position: sticky;
    top: 1px; // Windows' windows have a 1px margin on their title bar.
    left: 0;
    margin-bottom: 1px; // compensates the top 1px offset
    flex-shrink: 0;
    z-index: 100000000;

    .app-icon {
        @include center-content;
        width: 32px;

        > img {
            max-width: 22px;
        }
    }
    
    .drag-region {
        @include center-content;

        flex: 1;
        height: 100%;
        font-size: 9pt;
    }
}