.sp-tab-root.sp-tab-root {
    flex: 1;
    min-height: 0;
    @include vertical-queue-stretch;

    .sp-tab-ribbon-root {
        flex-shrink: 0;
    }

    .sp-tab-ribbon-list {
        @include horizontal-list;
        @include thin-scrollbar;

        background: $color-component-1;
        border-top: 1px solid $color-component-3;
        margin-left: -1px;

        &::before {
            border-color: $color-component-3;
        }
    }

    .sp-tab-ribbon-tab {
        background: $color-component-1;
        border-radius: 0;
        border-left: 1px solid $color-component-3;
        border-bottom: 1px solid $color-component-3;
        height: 32px;
        padding-right: 8px;

        &:last-child {
            border-right: 1px solid $color-component-3;
        }

        &:hover {
            background-color: $color-background;
            border-left: 1px solid $color-component-3;
            border-bottom: 1px solid $color-component-3;
        }

        &[data-active=true] {
            background-color: $color-background;
            border-top: 1px solid $color-highlight;
            //border-top-left-radius: 3px;
            //border-top-right-radius: 3px;
            border-bottom: 1px solid transparent;
        }

        .sp-tab-ribbon-tab-label {
            @include horizontal-queue;
            gap: 6px;
        }
    }

    .sp-tab-ribbon-new-tab {
        @include center-content;
        width: 38px;
        font-size: 15pt;
    }

    .sp-tab-panel-container {
        @include vertical-queue-stretch;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }

    .sp-tab-panel {
        flex: 1;
        min-height: 0;
        overflow: auto;
    }
}

.sp-section-tab-root.sp-section-tab-root {
    .sp-section-tab-ribbon-list {
        height: 32px;
        align-items: end;
        padding: 0 8px;

        &::before {
            border-color: transparent;
        }
    }
    .sp-section-tab-ribbon-tab {
        &[data-active=true] {
            border-color: $color-highlight;
        }

        &:hover .sp-section-tab-ribbon-tab-label {
            color: $color-highlight;
        }

        .sp-section-tab-ribbon-tab-label {
            text-transform: uppercase;
        }
    }

    .sp-section-tab-panel-container {
        @include vertical-queue-stretch;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }
}

.sp-close-button.sp-close-button {
    &:hover {
        background-color: $color-danger;
        color: $color-text-white;
    }
}

.sp-select.sp-select {
}

.mantine-Popover-dropdown.mantine-Popover-dropdown {
    border: 1px solid $color-highlight;
    padding: 4px;

    .mantine-ScrollArea-viewport {
        padding: 0;
    }

    .mantine-Select-option {
        &:hover {
            background-color: $color-highlight;
        }
    }
}

.mantine-Select-dropdown {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mantine-Select-input[data-expanded=true] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sp-titled-checkbox {
    margin-top: calc((0.625rem * 1) / 2);
}

.sp-modal-root {
    .sp-modal-header {
        background: $color-highlight;
        min-height: 0;
        border-radius: 0px;
        height: 32px;
    
        .sp-modal-title {
            font-size: 10pt;
            font-weight: $w-semibold;
            color: $color-highlight-text;
        }

        .sp-modal-close {
            &:hover {
                background-color: $color-danger;
                color: $color-text-white;
            }
        }
    }

    .sp-modal-body {
        @include vertical-queue-stretch;
        flex: 1;
        min-height: 0;
        overflow: hidden;
        overflow-y: auto;
        padding: 0;
        min-height: 500px;
        background: $color-background;
    }

    .sp-modal-content {
        @include vertical-queue-stretch;
        border-radius: 0px;
        border: 1px solid $color-highlight;
    }

    .sp-modal-bottom-ribbon {
        @include horizontal-queue;
        background-color: $color-component-1;
        padding: 12px;
        gap: 8px;
        justify-content: flex-end;

        > button {
            width: 120px;
        }
    }
}

.sp-gallery-selectable-item {
    border: 1px solid transparent;

    &.selected {
        border-color: $color-highlight;
        background-color: $color-highlight-l1;
    }

    &:hover {
        background-color: $color-component-1;
        border-color: $color-component-3;
    }
}

.mantine-Button-root {
    border-radius: 0;

    &:active {
        transform: none;
    }
}