@import "variables";
@import "mixins";
@import "fonts";

:root {
    @include no-highlight();

    font-family: $font-std;
    font-weight: $w-regular;
    font-size: 10pt;
    color: var(--text-color);

    --bg-color-dark: #0f121b;
    --bg-color: var(--component-color-light-0);
    --text-color: var(--text-color-black);
    --text-color-1: var(--text-color-black-1);
    --text-color-2: var(--text-color-black-2);

    --component-color-theme-0: var(--component-color-light-0);
    --component-color-theme-1: var(--component-color-light-1);
    --component-color-theme-2: var(--component-color-light-2);
    --component-color-theme-3: var(--component-color-light-3);
    --component-color-theme-4: var(--component-color-light-4);

    --transparent-color-theme-1: var(--transparent-color-light-1);
    --transparent-color-theme-2: var(--transparent-color-light-2);
    --transparent-color-theme-3: var(--transparent-color-light-3);
    --transparent-color-theme-4: var(--transparent-color-light-4);

    --highlight-text-color: var(--text-color-black);
    --highlight-text-color-1: var(--text-color-black-1);
    --highlight-text-color-2: var(--text-color-black-2);
    --highlight-color: #02b68f;
    --highlight-color-l1: #b9183b;
    --highlight-color-l2: #c22749;
    --highlight-color-l3: #ca4965;
    --highlight-color-d2: #8a0723;
    --highlight-color-d3: #70091f;
    --highlight-color-d4: #550819;
    --highlight-color-d5: #310610;

    --component-color-dark-0: #0f121b;
    --component-color-dark-1: #1b1f2b;
    --component-color-dark-2: #3c3f46;

    --component-color-light-0: #f3f6ff;
    --component-color-light-1: #e1e4ec;
    --component-color-light-2: #d3d7e6;
    --component-color-light-3: #b5baca;
    --component-color-light-4: #9397a5;

    --transparent-color-white-1: #ffffff10;
    --transparent-color-white-2: #ffffff20;
    --transparent-color-white-3: #ffffff30;
    --transparent-color-white-4: #ffffff60;

    --transparent-color-black-1: #00000010;
    --transparent-color-black-2: #00000020;
    --transparent-color-black-3: #00000030;
    --transparent-color-black-4: #00000060;

    --text-color-white: #eeeeee;
    --text-color-white-1: #b9b9b9;
    --text-color-white-2: #858585;
    --text-color-black: #111111;
    --text-color-black-1: #363636;
    --text-color-black-2: #5a5a5a;

    --color-danger: #df1021;
    --color-success-l1: #25d14d;
    --color-success: #28a745;
    --color-success-d1: #1f8a38;
    --color-golden: #ffb300;
}

// style for higher pixel density screens
@media (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25) {
    :root {
        font-weight: $w-light;
    }
}

* {
    @include default-scrollbar();
    
    box-sizing: border-box;
}

b, strong {
    font-weight: $w-semibold;
}

body {
    padding: 0;
    margin: 0;
}

button {
    font-family: $font-std;
    font-size: 12pt;
    outline: none;
    border: none;
    background-color: transparent;
    color: $color-text;

    &:hover:not(:disabled) {
        cursor: pointer;
    }
}

h2 {
    font-size: 14pt;
    font-weight: $w-light;
    padding: 0;
    margin: 0;
}

input {
    font-family: $font-std;
}