.level-editor {
    @include vertical-queue-stretch;
    justify-content: stretch;

    &:active {
        outline: none;
    }

    .level-toolbar {
        border-bottom: 1px solid $color-component-3;
        padding: 0 8px;
    }

    .level-edition-container {
        flex: 1;
        min-height: 0;
        position: relative;

        .palette-container {
            > div {
                @include fill-container;
                @include vertical-list-stretch;
            }
            //> .info-panel {
            //    padding: 8px;
            //    color: $color-text-2;
            //}
        }
    
        .level-content-container {
            @include center-content;
        }
    
        .properties-panel-container {
            display: flex;
            justify-content: start;
            min-height: 0;

            .level-properties-panel {
                @include fill-container;
                display: flex;
                justify-content: stretch;

                .level-properties-accordion-root {
                    @include vertical-list;
                    @include fill-container;
                    align-items: stretch;
                }
            }
        }
    }
}

.level-editor .tile-palette {
    @include fill-container;

    .palette-root {
        @include vertical-list;
        @include fill-container;
        align-items: stretch;

        .palette-panel-content {
            @include horizontal-queue(wrap);
        }
    }

    .tile-button {
        @include center-content;
        width: 26px;
        height: 26px;
    }
}

.level-editor .entity-palette {
    @include fill-container;
    @include horizontal-queue(wrap);

    .palette-root {
        @include vertical-list;
        @include fill-container;
        align-items: stretch;

        .palette-panel-content {
            @include horizontal-queue(wrap);
        }
    }

    .entity-button {
        @include center-content;
        width: 64px;
        height: 64px;
        overflow: hidden;
    }
}

.level-editor .level-content {
    @include fill-container;

    &.level-content-disabled {
        background: $color-component-1;
    }

    .level-grid-container {
        @include horizontal-queue;
        @include fill-container;
        align-items: stretch;

        .level-grid-tools {
            @include vertical-list;
            align-items: stretch;
            width: 64px;
            border-right: 1px solid $color-component-2;

            .selected-paint {
                @include center-content;
                padding: 12px 0;

                > .tile-image {
                    &:before {
                        content: " ";
                        position: absolute;
                        z-index: -1;
                        top: 5px;
                        left: 5px;
                        right: 5px;
                        bottom: 5px;
                        border: 5px solid green;
                    }
                }
            }
        }

        .level-grid-canvas-container > div {
            flex: 1;
            min-width: 0;
            background: $color-component-1;
            @include vertical-queue-stretch;

            .canvas-element {
                cursor: crosshair !important;
            }
        }
    }
}

.level-grid-features {
    background: $color-background;
    border-top: 1px solid $color-component-2;
    @include vertical-queue-stretch;
    height: 100%;

    .sp-section-tab-root {
        @include fill-container;
        @include vertical-queue-stretch;

        .sp-section-tab-panel-container {
            flex: 1;

            .sp-section-tab-panel {
                @include fill-container;
            }
        }
    }

    .level-grid-feature-options {
        flex: 1;
        @include fill-container;

        .terrain-panel {
            @include fill-container;
            @include vertical-queue-stretch;

            .terrain-tabs-tab {
                padding-left: 10px;
            }

            .terrain-settings-form {
                padding: 8px;
            }
        }
    }
}

.level-grid-canvas-viewbox {
    @include fill-container;
    @include horizontal-queue;
    position: relative;
    padding-right: 4px;
    padding-bottom: 4px;

    .level-grid-canvas-scrollarea {
        @include fill-container;
        @include horizontal-list;
        overflow: scroll;
        scrollbar-width: 30px;
        align-items: start;
            
        .level-grid-canvas {
            display: grid;
            grid-template: "edge rulx" 16px
                           "ruly spac" 1fr / 16px 1fr;

            .ruler-edge {
                position: absolute;
                top: 0;
                left: 0;
                grid-area: edge;
                background: $color-component-1;
                width: 16px;
                height: 16px;
                z-index: 100;
            }

            .horizontal-ruler {
                position: sticky;
                top: 0;
                left: 16px;
                grid-area: rulx;
                background: $color-component-2;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .ruler-item:not(:last-child) {
                    border-right: 0;
                }
            }
            .vertical-ruler {
                position: sticky;
                top: 16px;
                left: 0;
                grid-area: ruly;
                background: $color-component-2;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;

                .ruler-item:not(:last-child) {
                    border-bottom: 0;
                }
            }

            .ruler-item {
                width: 16px;
                height: 16px;
                font-size: 6pt;
                border: 1px solid $color-component-4;
                @include center-content;
                white-space: nowrap;
                overflow: hidden;
                font-family: $font-mono;
            }

            .canvas-element {
                position: absolute;
                top: 16px;
                left: 16px;
            }
        }
    }
}

.level-editor .level-properties-panel {
    @include vertical-queue-stretch;
    @include fill-container;

    .sp-section-tab-root {
        @include fill-container;
        @include vertical-queue-stretch;

        .sp-section-tab-ribbon-list {
            flex-shrink: 0;
        }

        .sp-section-tab-panel {
            @include fill-container;
        }
    }

    .level-properties-level-section {
        @include fill-container;
        @include vertical-list-stretch;
        justify-content: start;
        padding: 12px;
        gap: 6px;
    }

    .item-properties {
        @include fill-container;
        @include vertical-list-stretch;
        gap: 6px;

        .title {
            font-weight: $w-semibold;
            padding: 6px 12px 0 12px;
        }

        .parameter-form {
            flex-shrink: 0;
        }

        .sp-accordion-panel-content {
            padding: 0;
            padding-top: 0.625rem;
        }
    }
}