.level-editor {
    //display: grid;
    //grid-template: "tool tool tool" 32px
    //               "pall cont prop" 1fr / 1fr 1fr 340px;
    @include vertical-gallery-stretch;
    justify-content: stretch;

    .level-toolbar {
        @include horizontal-toolbar;
        border-bottom: 1px solid $color-component-3;
        height: 32px;

        button {
            @include center-content;
            padding: 2px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .level-edition-container {
        flex: 1;
        min-height: 0;
        position: relative;

        .palette-container {
            > .info-panel {
                padding: 8px;
                color: $color-text-2;
            }
        }
    
        .level-content-container {
            
        }
    
        .properties-panel-container {
            display: flex;
            justify-content: start;
            min-height: 0;

            .level-properties {
                @include fill-container;
                display: flex;
                justify-content: stretch;

                .level-properties-accordion-root {
                    @include vertical-list;
                    @include fill-container;
                    align-items: stretch;
                }
            }
        }
    }

    .tile-palette {
        @include fill-container;

        .palette-root {
            @include vertical-list;
            @include fill-container;
            align-items: stretch;

            .palette-panel-content {
                @include horizontal-gallery(wrap);
            }
        }

        .tile-button {
            @include center-content;
            width: 26px;
            height: 26px;

            &:hover {
                background-color: $color-component-1;
                border: 1px solid $color-component-3;
            }

            &.selected {
                border: 1px solid $color-highlight;
                background-color: $color-highlight-l1;
            }
        }
    }
}

.level-editor .level-content {
    @include fill-container;

    &.level-content-disabled {
        background: $color-component-1;
    }

    .level-grid-container {
        @include horizontal-gallery;
        @include fill-container;
        align-items: stretch;

        .level-grid-tools {
            @include vertical-list;
            align-items: stretch;
            width: 64px;
            border-right: 1px solid $color-component-2;

            .selected-paint {
                @include center-content;
                padding: 12px 0;

                > .tile-image {
                    &:before {
                        content: " ";
                        position: absolute;
                        z-index: -1;
                        top: 5px;
                        left: 5px;
                        right: 5px;
                        bottom: 5px;
                        border: 5px solid green;
                    }
                }
            }
        }

        .level-grid-canvas-container {
            flex: 1;
            min-width: 0;
            display: flex;
            justify-content: left;
            align-items: start;
            background: $color-component-1;
            overflow: auto;
            position: relative;

            .level-grid-canvas-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                > .level-grid-canvas-bg-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .level-grid-canvas-proper-container {
                @include fill-container;
                z-index: 10;
                overflow: auto;

                .level-grid-canvas {
                }
            }
        }
    }
}