.sp-activatable-text-input {
    width: 100px;

    &.readonly {
        input {
            cursor: pointer;

            &:focus {
                border-color: transparent;
            }
        }
    }
}