.sp-asset-input-button {
    width: 100%;
    padding: 0 10px;

    &:not([data-disabled]):hover {
        //background: $color-component-1;
    }

    &[data-disabled] {
        border: 0.0625rem solid #dde1e9;
    }

    .sp-asset-input-inner {
        justify-content: start;
        font-weight: $w-regular;
    }
}

.sp-asset-input-modal-root {
    
}

.sp-background-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    min-height: 0;
    padding: 16px;

    .sp-background-picker-image {
        @include vertical-queue;
        width: 200px;
        height: 200px;
        padding: 8px;
        min-height: 0;

        .image-container {
            @include center-content;
            flex: 1;

            img {
                max-width: 100%;
                max-height: 100%;
                border: 1px solid $color-component-3;
            }
        }

        .image-name {

        }
    }
}

.sp-music-picker {
    @include vertical-queue-stretch;
    flex: 1;
    min-height: 0;

    .sp-music-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        align-items: start;
        flex: 1;
        min-height: 0;
        padding: 16px;

        .sp-music-picker-icon {
            @include vertical-queue;
            padding: 8px;
            gap: 8px;
    
            .play-container {
                > svg {
                    cursor: pointer;
                    font-size: 32px;
                    color: $color-component-4;
    
                    &:hover {
                        color: $color-highlight;
                    }
                }
            }
        }
    }

    .sp-music-player {
        
    }
}