.sp-resize-handle-horiz {
    position: relative;
    box-sizing: border-box;
    width: 1px;
    background: $color-component-3;

    > .separator-handle-container {
        $width: 8px;

        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: - calc($width / 2);
        height: 100%;
        width: 8px;
        background: transparent;

        > .separator-handle {
            height: 100%;
            width: 1px;
            transition: all 0.15s ease-out;
        }

        &:hover > .separator-handle {
            width: 5px;
            border-left: 5px solid $color-highlight;
        }
    }
}