.tab-ribbon-boxes {
    .tab-ribbon-list {
        @include horizontal-list;
        @include thin-scrollbar;

        background: $color-component-1;
        border-top: 1px solid $color-component-3;
        margin-left: -1px;

        &::before {
            border-color: $color-component-3;
        }
    }

    .tab-ribbon-tab {
        background: $color-component-1;
        border-radius: 0;
        border-left: 1px solid $color-component-3;
        border-bottom: 1px solid $color-component-3;
        height: 32px;

        &:last-child {
            border-right: 1px solid $color-component-3;
        }

        &:hover {
            background-color: $color-background;
            border-left: 1px solid $color-component-3;
            border-bottom: 1px solid $color-component-3;
        }

        &[data-active=true] {
            background-color: $color-background;
            border-top: 1px solid $color-highlight;
            //border-top-left-radius: 3px;
            //border-top-right-radius: 3px;
            border-bottom: 1px solid transparent;
        }

        .tab-ribbon-tab-label {
            @include horizontal-gallery;
            gap: 6px;
        }
    }

    .tab-ribbon-new-tab {
        @include center-content;
        width: 38px;
        font-size: 15pt;
    }

    .tab-ribbon-empty-space {
        border-bottom: 1px solid red;
    }
}