.tab-ribbon-boxes {
    .tab-ribbon-list {
        background: $color-component-1;
        border-top: 1px solid $color-component-3;
    }

    .tab-ribbon-tab {
        border-radius: 0;
        border-left: 1px solid $color-component-3;
        border-bottom: 1px solid $color-component-3;
        height: 32px;

        &:last-child {
            border-right: 1px solid $color-component-3;
        }

        &:hover {
            background-color: $color-component-1;
        }

        &[data-active=true] {
            background-color: $color-background;
            border-top: 1px solid $color-highlight;
            //border-top-left-radius: 3px;
            //border-top-right-radius: 3px;
            border-bottom: 1px solid transparent;
        }

        .tab-ribbon-tab-label {
            @include horizontal-gallery;
            gap: 6px;
        }
    }
}